.complaint {
  margin: 10px;
}

.officer-list-item {
  margin: 5px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 5px;
  width: 200px;
}

.officer-list-square {
  margin: 2px;

  border: solid black 1px;
  height: 4rem;
  width: 4rem;
}

#cop-list-container {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

.filter-button,
.sort-button {
  margin: 5px;
  padding: 7px;
  background-color: white;
  color: black;
}

.complaint-group {
  border: 2px solid gray;
  margin: 5px;
  padding: 5px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
}

.nav ul li {
  margin: 0 5px 0 0;
}
.graph-container {
  max-width: 800px;
  margin: 2rem auto;
}

.complaint-container {
  margin: 3rem 0;
  border-bottom: 1px solid lightgray;
}

.app-body {
  margin-top: 100px;
}

.form-row {
  align-items: center;
}

.form-button {
  margin-top: 14px;
}

form.sunburst-form {
  margin-bottom: 2rem;
}

b.tablesaw-cell-label {
  width: 100% !important;
}

.align-items-center {
  align-items: center;
}

.content-div {
  margin: 30px 0;
}

.align-text-center {
  text-align: center;
}

.caption {
  font-style: italic;
  font-size: 0.9rem;
  margin: 10px 0 0 0;
}
p {
  line-height: 1.8rem;
}
.narrative {
  max-width: 800px;
  margin: 0 auto;
}

blockquote {
  border-left: solid 3px lightgray;
  /* background-color: lightgray; */
  padding: 10px;
  width: 85%;
  max-width: 800px;
  margin: 20px auto !important;
  font-style: italic;
}
@media (max-device-width: 640px) {
  h1#nav-title {
    font-size: 1.25rem;
  }
}
