.complaint {
  margin: 10px;
}

.officer-list-item {
  margin: 5px;
  padding: 5px;
  border: solid black 1px;
  border-radius: 5px;
  width: 200px;
}

.officer-list-square {
  margin: 2px;

  border: solid black 1px;
  height: 4rem;
  width: 4rem;
}

#cop-list-container {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
}

.filter-button,
.sort-button {
  margin: 5px;
  padding: 7px;
}

.complaint-group {
  border: 2px solid gray;
  margin: 5px;
  padding: 5px;
}

.nav ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0px;
}

.nav ul li {
  margin: 0 5px 0 0;
}
.graph-container {
  max-width: 800px;
  margin: 2rem auto;
}

.complaint-container {
  margin: 3rem 0;
  border-bottom: 1px solid lightgray;
}

.app-body {
  margin-top: 100px;
}
